
Font1 = 'Oswald', sans-serif
Font5 = 'Roboto', sans-serif

*
  font-size: 15px // rem value
  padding: 0
  margin: 0

.container
  width: 98%
  margin: 0 auto

@media screen and (min-width: 1250px)
  .container
    width: 1250px

// @media screen and (min-width: 423px)
// @media screen and (min-width: 760px)
// @media screen and (min-width: 1020px)
// @media screen and (min-width: 1400px)