.header
  max-width: 1250px
  min-height: 280px
  margin: 0 auto
  background: white
  text-align: center
  .topline
    margin: 0 auto
    width: 99%
    margin-top: 30px
    background: black
    height: 2px
  .title
    display: flex
    align-items: center
    padding: 5%
    .image1
      height: 100px
      margin-right: 5%
    .image2
      height: 150px
  .line
    margin: 0 auto
    width: 99%
    background: rgba(0,0,0, .8)
    height: 2px
  .metaData
    display: flex
    justify-content: center
    align-items: center
  .bottomLine
    margin: 0 auto
    width: 100%
    background: black
    height: 1.3rem


