.main
  max-width: 1250px
  height: 100%
  margin: 0 auto
  display: grid
  grid-template-columns: .95fr .8fr 1fr 1.3fr
  grid-template-rows: 230px 1px 450px 50px 110px 345px 75px
  grid-gap: 1%
  background: white
  span
    font-family: Font5
    font-weight: 900
    color: red
