.main
  max-width: 1250px
  height: 100%
  margin: 0 auto
  display: grid
  grid-template-columns: .95fr .8fr 1fr 1.3fr
  grid-template-rows: 220px 20px 450px 50px 80px 345px 75px
  grid-gap: 2%
  span
    color: red
